/* header-top */
.header-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.header-top h1 {
    text-align: center;
}

/* nav */
header nav {
    margin-top: 10px;
    display: flex;
    gap: 15px;
}

/* 画像の基本スタイル */
.fade-photo { 
  width: 200px; /* 好きなサイズに調整 */ 
  mask-image: linear-gradient(to bottom, black 60%, transparent); 
  -webkit-mask-image: linear-gradient(to bottom, black 60%, transparent); }

/* 大画面でnavをスライドさせる */
@media (min-width: 1200px) {
    nav {
        position: relative;
        overflow: hidden;
    }

    nav a {
        display: inline-block;
        white-space: nowrap;
        transform: translateX(100%);
        animation: slide-in 10s linear infinite;
    }

    @keyframes slide-in {
        0% { transform: translateX(100%); }
        100% { transform: translateX(-100%); }
    }
}